
/config/google/*
/config/yandex/*
/config/mailgun/*
/assets/videos/*
/uploads/*

assets/images/*
composer.json
composer.lock

!.gitkeep
*.log
*.bak
*.tmp
*.swp

.env
node_modules/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.~lock

vendor/
#composer require google/apiclient
