# Игнорируем конфигурации
/config/google/*
/config/yandex/*
/config/mailgun/*

# Игнорируем медиа и загрузки
/assets/videos/*
/uploads/*
/cache/*
/assets/images/*

# Игнорируем временные файлы и логи
*.log
*.bak
*.tmp
*.swp
*.~lock

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем IDE-файлы
.idea/
.vscode/

# Игнорируем зависимости
node_modules/
vendor/

# Игнорируем .env-файлы
.env
.env.local
.env.*.local

# Не игнорируем .gitkeep
!.gitkeep