# Вкл. Rewrite Engine
RewriteEngine On
RewriteBase /

# ЧПУ
RewriteRule ^jobs/?$ jobs.php [L]
RewriteRule ^main/?$ index.php [L]
RewriteRule ^join-us/?$ join-us.php [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^privacy-policy/?$ privacy-policy.php [L]


# если файл или папка не существует направляем на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# MIME
AddType text/css .css
AddType application/javascript .js

# CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Кэширование
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 day"
    ExpiresByType application/javascript "access plus 1 day"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/ttf "access plus 1 year"
</IfModule>


<FilesMatch "\.(htaccess|htpasswd|env|ini|phar|lock|json|yml|yaml|log|md|git)$">
    Require all denied
</FilesMatch>


<Files "google-key.json">
    Require all denied
</Files>

# Защ.прямого доступа к PHP в includes, forms, api, vendor
<FilesMatch "(includes|forms|api|vendor)/.*\.php$">
    Require all denied
</FilesMatch>

# Откл листинг содержимого директорий
Options -Indexes
